<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.csun.spotr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >

        <!-- Main Activity -->
        <activity
            android:name=".SpotrActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.SignupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Main Menu Activity -->
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.MainMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Challenge Activity -->
        <activity
            android:name=".ChallengeActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.ChallengeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Map View Activity -->
        <activity
            android:name=".MapViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.MapViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Local Map View Activity -->
        <activity
            android:name=".LocalMapViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.LocalMapViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Reward Activity -->
        <activity
            android:name=".RewardActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.RewardActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Reward View Activity -->
        <activity
            android:name=".RewardViewActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.RewardViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Challenge Info Activity -->
        <activity
            android:name=".ChallengeInfoActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.ChallengeInfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Friend List Activity -->
        <activity
            android:name=".FriendListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.FriendListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Friend List Main Activity -->
        <activity
            android:name=".FriendListMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.FriendListMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Friend List Feed Activity -->
        <activity
            android:name=".FriendListFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.FriendListFeedActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Friend List Action Activity -->
        <activity
            android:name=".FriendListActionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.FriendListActionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Place Activity -->
        <activity
            android:name=".PlaceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.PlaceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Local Place Activity -->
        <activity
            android:name=".LocalPlaceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.LocalPlaceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Place Main Activity -->
        <activity
            android:name=".PlaceMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.PlaceMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Place Action Activity -->
        <activity
            android:name=".PlaceActionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.PlaceActionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Place Activity Activity -->
        <activity
            android:name=".PlaceActivityActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.PlaceActivityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Place Info Activity -->
        <activity
            android:name=".PlaceInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.csun.spotr.PlaceInfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Map Location Activity -->
        <activity
            android:name=".MapLocationActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.MapLocationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Leaderboard Activity -->
        <activity
            android:name=".LeaderboardActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.LeaderboardActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileMainActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.ProfileMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.ProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Friend Profile Activity -->
        <activity
            android:name=".FriendProfileActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.FriendProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Profile Edit Activity -->
        <activity
            android:name=".ProfileEditActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.ProfileEditActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Profile Preference Activity -->
        <activity
            android:name=".ProfilePreferenceActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.ProfilePreferenceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Write On Wall Activity -->
        <activity
            android:name=".WriteOnWallActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.WriteOnWallActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Snap Picture Activity -->
        <activity
            android:name=".SnapPictureActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.SnapPictureActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Question Answer Activity -->
        <activity
            android:name=".QuestionAnswerActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.QuestionAnswerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Webview Activity -->
        <activity
            android:name=".WebviewActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.WebviewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ping Map Activity -->
        <activity
            android:name=".PingMapActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.PingMapActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- FinderActivity Activity -->
        <activity
            android:name=".FinderActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.FinderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- CreateLostItemActivity -->
        <activity
            android:name=".CreateLostItemActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.CreateLostItemActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QuestActivity -->
        <activity
            android:name=".QuestActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.QuestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <!-- QuestDetailActivity -->
        <activity
            android:name=".QuestDetailActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.QuestDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Finder Item Detail Activity -->
        <activity
            android:name=".FinderItemDetailActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.FinderItemDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       	<!-- Weapon Activity -->
        <activity
            android:name=".WeaponActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.csun.spotr.WeaponActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- Google Map API -->
        <uses-library android:name="com.google.android.maps" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

</manifest>
